@page "/game/{QuizId:int}"
@inject HttpClient http
@inject NavigationManager navigation

@if (Questions.Any())
{
    var question = Questions[currentIndex];

    <h3>@question.QuestionName</h3>

    if (question.ImgUrl != null)
    {
        <img src="@question.ImgUrl" />
    }

    if (question.VidUrl != null)
    {
        <iframe src="@question.VidUrl"></iframe>
    }

    if (question.QuestionOption1 != null)
    {
        <select class="form-select" aria-label="Default select example" @bind="Selection">
            <option value="@question.QuestionOption1">@question.QuestionOption1</option>
            <option value="@question.QuestionOption2">@question.QuestionOption2</option>
            <option value="@question.QuestionOption3">@question.QuestionOption3</option>
            <option value="@question.QuestionOption4">@question.QuestionOption4</option>
        </select>
    }
    else
    {
        <input form="Freetext" class="form-control" @bind="Selection" />
    }

    <input type="button" class="btn btn-primary" @onclick="@Save" value="Answer" />
    
    if (question.TimeLimit == true)
    {
        <p>Remaining time: @Timer</p>
    }
}
else
{
    <h2>There aren't any questions available for this quiz.</h2>
}

@code {

    [Parameter]
    public int QuizId { get; set; }
    public string Selection { get; set; }
    int currentIndex = 0;
    int Timer = 60;

    List<QuestionViewModel> Questions = new List<QuestionViewModel>();
    GameViewModel NewGame = new GameViewModel();

    protected override async Task OnInitializedAsync()
    {
        Questions = await http.GetFromJsonAsync<List<QuestionViewModel>>($"api/Quiz/GetQuestionsByQuizId/{QuizId}");
        StartTimerAsync();
    }

    protected async Task Save()
    {
        if (Selection == Questions[currentIndex].QuestionAnswer)
        {
            NewGame.GamePoint += 1;
        }

        if (currentIndex == Questions.Count - 1)
        {
            await http.PostAsJsonAsync($"api/Quiz/SaveGame/{QuizId}", NewGame);
        }

        NextQuestion();
    }

    public async void StartTimerAsync()
    {
        while (Timer > 0)
        {
            Timer--;
            StateHasChanged();
            await Task.Delay(1000);
        }

        if (Timer == 0)
        {
            navigation.NavigateTo("profile");
        }
    }

    public void NextQuestion()
    {
        currentIndex++;

        if (currentIndex >= Questions.Count())
        {
            navigation.NavigateTo("profile");
        }
    }
}
